/*
 * Copyright (c) 2020, salesforce.com, inc.
 * All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 * For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
 * Author: rmaity@salesforce.com
 * Date: Oct-24-2020
 * TS Implamentation of the SDK
 */ 

/*
 * Please rename the file dwconstants.sample to dwconstants.ts
 */

export const apiConfig = {
    clientId: "your-ocapi-client-id-in-am",
    organizationId: "your-org-id",
    shortCode: "your-short-code",
    siteId: "your-site-id",
};
